/*propriétés appliquées à l'ensemble se la page*/
body {
    font-family: 'Raleway', sans-serif;
    margin-left: 55px;
    margin-top: 44px;
    margin-right: 77px;
        
}
/*tous les liens*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {}
a {
    text-decoration: none;
    color:black
}
/*au survol des liens avec le curseur*/
a:hover {
    color:#0065FC ;
    
}
/*couleur des icones*/
i {
    color: #0065FC;
}
/*balise nav dans header*/
nav {
    flex-direction: row;
    justify-content: space-between;
    
}
li {
    list-style-type: none;
    display: flex;
   justify-content: space-between;
}
ul {
    
}
/*lien hébérgements et ectivités*/
.topright {
    display: flex;
    justify-content:right;
}
.hebergement {
    margin-right: 67px;
}
.activites {
   
}
input {
    width: 100px;
    height: 21px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

/* White */
    color: rgb(0, 0, 0);


/* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;

    position: absolute;
    width: 132px;
    height: 49px;
    left: 341px;
    top: 199px;

/* Blue */
    background: #0065FC;

/* Blue */
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}