/*Média desktop*/
/*@media screen and (min-width: 1024px) and (max-width: 1440px){*/ 
    
body {
    font-family: 'Raleway', sans-serif;
    margin-left: 55px;
    margin-top: 0px;
    margin-right: 77px;
        
}
/*entête de page*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}
.hebergement_activite {
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    display: flex;
    color: #000;
}
.topright {
    display: flex;
    justify-content: right;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}
.hebergement, .activites {
    list-style-type: none;
    height: 100%;
    align-items: center;
    display: flex;
    color: black;
}
.hebergement:hover, .activites:hover {
    border-top: solid #0065FC;
    border-radius: unset;
    color:#0065FC ;
    
}
a.hebergements_a_marseille, a.activites_a_marseille {
    color:#000
}
a.hebergements_a_marseille:hover, a.activites_a_marseille:hover {
    color: #0065FC;
}
.topline:hover {
    color: #0065FC;    
}
a {
    text-decoration: none;
    
}
h1 {
    font-size: large;
}
.centre_ville {
    margin-top: 20px;
    margin-bottom: 20px;
}
.rechercher {
    display: flex;
    width: 36%;
    height: 50px; 
}
#searchbar {
    height: 100%;
    width: 75%;
    padding-right: 75px;
    border: solid #F2F2F2;
    margin-right: -60px;
    font-size: smaller;
}
.search_icon{
    display: none;

}
button {
    width: 30%;
    height: 98%;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-style: none;
    font-family: 'Raleway', sans-serif;
}
.searchbar {
    width: 100%;
    display: flex;
}
.localisation {
    display: flex;
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    align-items: center;
    width: 15%;
    justify-content: center;
    background-color: #F2F2F2;
}
/*icone localisation**/
.loc {
    color: black;
}
.info_logement {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon_info {
    padding: 5px 5px 5px 0px;
    
}
input {    
    font-family: 'Raleway';    
    font-weight: 700;
    font-size: 18px;    
    text-align: center;    
}
.FilterBar {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    margin: 35px 0px 35px 0px;
    padding-left: 0;
}
.filtres_h2 {
    font-size: smaller;
}
.ifiltre {
    padding: 10px 10px 10px;
}
.filter1,.filter2, .filter3,.filter4 {
    display: flex;
    color: #000;
    border: solid 2px #D9D9D9;
    padding: 5px;
    align-items: center;
    font-weight: bold;
    border-radius: 35px;
    margin-left: 35px;
    padding-right: 35px;
    font-size: smaller;
    text-decoration: none;
}
.filter1:hover,.filter2:hover,.filter3:hover,.filter4:hover {
    background-color: #DEEBFF;
}
.criteres {
    display: flex;
    flex-direction: row;
}
/*couleur des icones*/
i {
    color: #0065FC;
}
.last {
    color: #D9D9D9;
}
.g_d {
    display: flex;
    height: 33% ;
}
.section_gauche {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 700px;
    border-radius: 20px;
    background-color: #F2F2F2;
}
.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 60px;
}
.mars {
    padding: 23px;
    padding-left: 35px;
}
/*dimmension des images section gauche*/
.img1,.img2,.img3,.img4,.img5,.img6 {

    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
/*dimension des articles gauches*/
.art1,.art2,.art3,.art4,.art5,.art6 {
    width: 25%;
    background-color: white;
    border-radius: 20px;
    border: solid 4px white;
    box-shadow: 2px 2px 10px #D9D9D9;
    text-decoration: none;
}
.txt1,.txt2,.txt3,.txt4,.txt5,.txt6 {
    padding: 0px 0px 5px 10px;
    font-size: smaller;
    color: black;
}
.star {

}
.pop {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-top: 18.72px;
    margin-bottom: 18.72px;
}
.section_droite {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    width: 29%;
    border-radius: 20px;
    margin-left: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}
.plus {
    margin-left: 35px;
}
.right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.vector {
    object-fit: cover;
}
.img7,.img8,.img9 {
    border-radius:20px 0px 0px 20px ;
    
}
.art7,.art8,.art9 {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 130px;
    gap: 15px;
    margin: 15px;
    border: solid 4px white;
    box-shadow: 2px 2px 10px #D9D9D9;
    text-decoration: none;
}
.txt7,.txt8,.txt9 {
    position: relative;
    font-size: smaller;
    color: black;
}
.rightstar {
    position: absolute;
    bottom: 0%;
}
.plus {
    color: black;
}
/*balise nav dans header*/
nav {
    flex-direction: row;
    justify-content: space-around; 
}
ul {
    color: black;
}
li {
    list-style-type: none;
    border-radius: 25px;
}
/*lien hébérgements et activités*/

.hebergement {
    margin-right: 67px;
}
.txt_activite {
    padding-left: 20px;
    font-size: smaller;
}
.titre_activite {
    margin-top: 60px;
}
/*articles des activité a marseille*/
.port,.fort,.parc,.eglise {
    border-radius: 20px;
    width: 23%;
    height: 100%;
    box-shadow: 2px 2px 10px #D9D9D9;
}
/*images des activité a marseile*/
.act1,.act2,.act3,.act4 {
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.activite_a_marseille {
    display: flex;
    justify-content: space-between;
}
footer {    
    margin-top: 61px;    
}
.foot34 {
    width: 75%;
    display: flex;
    margin-left: -45px;
}
.foot123 {
    list-style-type: none;   
    display: flex;   
    height: 225px;
    background-color: #D9D9D9;
    color: #000;
    font-size: smaller;
    text-decoration: none;
}
.foot {
    color: black;
    padding: 15px 0px 0px 0px;
}
/*}*/
/*Media smartphones*/
@media screen and (min-width: 320px) and (max-width:768px) {
    
    * {
        /*font-family: 'Raleway', sans-serif;*/   
    }
    body {
        width: auto;
        background-color: white;
        margin-left: 0;
        margin-right: 0;
        
    }
    a {
        text-decoration: none;
        color: black;   
    }
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: normal;        
    }
    .booki {
        display: flex;
        justify-content: center;
    }
    .nav {
        width: 100%;
    }
    .topright {
        display: flex;
        padding-left: 0;
        width: 100%;
    }
    .hebergement, .activites {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
        border-bottom: solid #D9D9D9;
        border-radius: 0;
    }
    li.hebergement {
        margin-right: 0;
    }
    .hebergement:hover, .activites:hover {
        border-bottom: solid #0065FC;
        color: #0065FC;
    }
    .find {
        font-size: larger;  
    }
    .centre_ville {
        font-size: smaller;
    }
    .rechercher {
        display: flex;
        width: 100%;
    }
    #searchbar {
        border: solid #F2F2F2 2px;
        width: 80%;
        height: 100%;
        padding: 12px 10px 10px 10px;
        font-weight: bold;
        font-size: medium;
    }
    .searchbar {
        width: 100%;
        border: 0; 
    }
    .localisation {
        display: flex;
        justify-content: center;
        width:20% ;
        border-radius: 15px 0px 0px 15px;
        background-color: #F2F2F2;
    }
    i.loc {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
    }
    button {
        background-color: #0065FC;
        border-style: hidden;
        border-radius: 0px 15px 15px 0px;
        width: 20%;
        height: 100%;
        margin-left: -5px;
        padding: 4px 4px 0px 4px;
        
    }
    .search {
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .hide {
        visibility: hidden;
    }
    li {
        list-style-type: none;
    }
    .filtres_h2 {
        font-size: medium;
    }
    .FilterBar {
        padding-left: 0;
    }
    .criteres {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .filter1,.filter2,.filter3,.filter4 {
        display: flex;
        border: solid 1px #D9D9D9;
        border-radius: 25px;
        padding: 10px;
        font-size: x-small;
        font-weight: bold;
        height: 21px;
        align-items: center;
    }
    .ifiltre {
        padding-left: 5px;
        padding-right: 5px ;
        color: #0065FC;
    }
    .light_blue {
        width: 47%;
        margin-bottom: 15px;
    }
    .info_logement {
        font-size: smaller;
        display:flex;
        margin: 30px 0px 30px 0px;
    }
    .icon_info {
        height: 100%;
        margin-right: 5px;
    }
    .pop {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
    .vector {
        display: flex;
        height: max-content;
        align-self: center;
        margin-right: 10px;
    }
    .g_d {
        display: flex;
        flex-direction: column-reverse;
    }
    .section_droite {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
    }
    .art7,.art8,.art9 {
        border-radius: 20px;
        background-color: white;
        display: flex;
        gap: 5px;
        font-size: smaller;
        margin: 10px;
        box-shadow: 1px 2px 10px 1px #D9D9D9;
        height: 110px;
        border: solid 3px white;
    }
    .txt7,.txt8,.txt9 {
        display: flex;
        flex-direction: column;
    }
    .img7,.img8,.img9 {
        border-radius: 20px 0px 0px 20px;
        object-fit: cover;
    }
    .rightstar {
        padding-top: 35px;
    }
    .right {
        margin-bottom: 20px;
    }
    h3 {
        margin: 0;
    }
    .fa-star {
        color: #0065FC;
    }
    .last {
        color: #F2F2F2;
    }
    .art1,.art2,.art3,.art4,.art5,.art6 {
        display: flex;
        flex-direction: column;
        box-shadow: 1px 2px 10px 1px #D9D9D9;
        border-radius:20px;
        font-size: smaller;
        margin: 10px;
        border: solid 3px white;
    }
    .left {
        background-color:white ;
    }
    .img1,.img2,.img3,.img4,.img5,.img6 {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        height: 120px;
        object-fit: cover;
    }
    .txt1,.txt2,.txt3,.txt4,.txt5,.txt6 {
        padding: 5px 0px 5px 10px;
        height: 60px;
    }
    .star {
        margin-top: 5px;
    }
    .titre_activite {
        font-size: x-small;
    }
    .activite_a_marseille {
        width: 100%;
        font-size: smaller;
    }
    .act1,.act2,.act3,.act4 {
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    .port,.fort,.parc,.eglise {
        border-radius: 20px;
        box-shadow: 1px 2px 10px 1px #D9D9D9;
        margin-bottom: 10px;
    }
    .txt_activite {
        padding: 10px;
    }
    .foot123 {
        font-size: medium;
        background-color:#F2F2F2;
    }
    .foot1,.foot2,.foot3 {
        padding: 5px;
    }
}
/*Media tablettes*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;        
    }
    .booki {
        display: flex;
        justify-content: flex-start;
    }
    .hebergement_activite {
        display:flex;
    }
    ul.topright {
        list-style: none;
        display: flex;
    }
    li.hebergement, li.activites {
        
    }
    a.hebergements_a_marseille, a.activites_a_marseille {
        text-decoration: none;
        color: #000;
    }
    .topline {
        display: flex;
        justify-content: space-between;
    }
    
      
}