/*Média desktop*/
    body {
        font-family: 'Raleway', sans-serif;
        margin: 0 35px 0 35px;
        max-width: 1440px;    
    }
    /*entête de page*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 105px;
    }
    /*liens hebergements et activités pour la navigation sur le site*/
    .hebergement_activite {
        flex-direction: row;
        justify-content: end;
        height: 100%;
        width: 100%;
        display: flex;
        color: #000;
    }
    /*alignement des conteneurs*/
    .topright {
        display: flex;
        justify-content: right;
        height: 100%;   
        margin: 0;
        padding: 0;
        align-items: center;
    }
    /*suppression des puces de la liste*/
    .hebergement, .activites {
        list-style-type: none;
        height: 100%;
        align-items: center;
        display: flex;
    }
    /*bordure supérieure en bleu lors du survol*/
    .hebergement:hover, .activites:hover {
        border-top: solid 4px #0065FC;
        border-radius: unset;
    }
    /*coloration du lien et de la bordure lors du survol, sans distinction*/   
    li.hebergement:hover a,li.activites:hover a {
        color: #0065FC;
    }
    /*coloration des liens "hébergements" et "activités" en noir*/
    a.hebergements_a_marseille, a.activites_a_marseille {
        color:#000
    }
    /*déco liens*/
    a {
        text-decoration: none;   
    }
    /*1er titre h1 "Trouvez votre hébergement pour des vacances de rêve"*/
    .find {
        font-size: 22px;
        font-weight:900;
    }
    /*paragraphe sous le 1er titre*/
    .centre_ville {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /*conteneur barre de recherche*/
    .rechercher {
        display: flex;
        width: 100%;
        height: 50px;
        margin: 25px 0 25px 0;
    }
    /*formulaire de la barre de recherche*/
    #searchbar {
        height: 100%;
        padding-right: 75px;
        border: solid #F2F2F2;
        margin-right: 0px;
        font-size: 20px;
    }
    /*icone loupe*/
    .search_icon{
        display: none;
    }
    /*bouton rechercher*/
    button {
        width: 140px;
        height: 98%;
        border-radius: 0px 15px 15px 0px;
        background-color: #0065FC;
        color: white;
        border-style: none;
        font-size: 19px;
        padding: 1px 0 0 0;
        margin-left: -5px;
    }
    /*zone de text "Marseille, France"*/
    .searchbar {
        width: 100%;
    }
    /*conteneur de l'icone de la barre de recherche*/
    .localisation {
        display: flex;
        border-radius: 15px 0px 0px 15px;
        height: 100%;
        align-items: center;
        width: 60px;
        justify-content: center;
        background-color: #F2F2F2;
    }
    /*icone localisation*/
    .loc {
        color: black;
    }
    /*conteneur icone info*/
    .info_logement {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 35px 0 35px 0;
    }
    /*icone info*/
    .icon_info {
        padding: 5px 5px 5px 0px;
    }
    /*text de la barre de recherche*/
    input {    
        font-family: 'Raleway';    
        font-weight: 700;
        font-size: 18px;    
        text-align: center;    
    }
    /*conteneur de tous les filtres*/
    .FilterBar {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: flex-start;
        
    }
    /*titre "Filtres"*/
    .filtres_h2 {
        font-size: 19px;
        font-weight: bold;
    }
    /*icone des filtres*/
    .ifiltre {
        padding: 10px 10px 10px;
    }
    /*conteneur des différents filtres et du titre*/
    .conteneur_filtres_criteres {
        display: flex;
        align-items: center;
    }
    /*conteneurs de chaques filtres séparés*/
    .filter {
        display: flex;
        color: #000;
        border: solid 2px #D9D9D9;
        padding: 5px;
        align-items: center;
        font-weight: bold;
        border-radius: 35px;
        margin-left: 35px;
        padding-right: 35px;
        font-size: 17px;
        text-decoration: none;
    }
    /*coloration des conteneurs de chaques filtres séparés au survol du curseur*/
    .filter:hover {
        background-color: #DEEBFF;
    }

    .criteres {
        display: flex;
        flex-direction: row;
    }
    /*couleur des icones*/
    i {
        color: #0065FC;
    }
    .last {
        color: #D9D9D9;
    }
    .g_d {
        display: flex;
        height: 33% ;
    }
    .prix_hebergements {
        font-size: 16px;
        margin-top: 10px;
    }
    .titre_hebergements {
        margin: 10px 0 0 0;
    }
    .section_gauche {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 700px;
        border-radius: 20px;
        background-color: #F2F2F2;
    }
    .left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-evenly;
        margin-bottom: 60px;
    }
    .mars {
        padding: 23px;
        padding-left: 35px;
        font-size: 22px;
        font-weight: 900    ;  
    }
    /*dimmension des images section gauche*/
    .img_g {
    
        width: 100%;
        height: 124px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    /*dimension des articles gauches*/
    .art {
        width: 25%;
        background-color: white;
        border-radius: 20px;
        border: solid 4px white;
        box-shadow: 2px 2px 10px #D9D9D9;
        text-decoration: none;
    }
    .txt_g {
        padding: 0px 0px 5px 10px;
        font-size: smaller;
        color: black;
    }
    .hide_afficher_plus {
        font-weight: bold ;
        font-size: large;
        margin-top: -15px;
    }
    .pop {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding-top: 23px;
        padding-bottom: 23px;
        margin-top: 18.72px;
        margin-bottom: 18.72px;
        font-size: 22px;
    }
    /*paramétrages section de droite*/
    .section_droite {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        width: 29%;
        border-radius: 20px;
        margin-left: 20px;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
    }
    .plus {
        margin-left: 50px;
    }
    .right{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .vector {
        object-fit: contain;
        width: fit-content;
    }
    .img_d {
        border-radius:20px 0px 0px 20px ;
        width: 150px;
        object-fit: cover;
    }
    .art_d {
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 130px;
        gap: 15px;
        margin: 15px;
        border: solid 4px white;
        box-shadow: 2px 2px 10px #D9D9D9;
        text-decoration: none;
    }
    .txt_d {
        position: relative;
        font-size: smaller;
        color: black;
    }
    /*positionnement des étoiles d'évaliation de la section de drpoite*/
    .rightstar {
        position: absolute;
        bottom: 0%;
        padding: 5px;
    }
    .plus {
        color: black;
    }
    /*balise nav dans header*/
    nav {
        flex-direction: row;
        justify-content: space-between; 
    }
    ul {
        color: black;
    }
    li {
        list-style-type: none;
        border-radius: 25px;
    }
    /*lien hébérgements et activités*/
    
    .hebergement {
        margin-right: 67px;
    }
    .txt_activite {
        padding-left: 20px;
        font-weight: bold;
    }
    /*articles des activité a marseille*/
    .port,.fort,.parc,.eglise {
        border-radius: 20px;
        width: 23%;
        height: 100%;
        box-shadow: 2px 2px 10px #D9D9D9;
    }
    /*images des activité a marseile*/
    .act {
        width: 100%;
        height: 389px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    .activite_a_marseille {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 35px;
    }
    .conteneur_activites {
        display: flex;
        justify-content: space-between;
    }
    /*marge dessus pied de page */
    footer {    
        margin-top: 61px;    
    }
    .foot_title {
        font-size: 19px;
        font-weight: bold;
    }
    .foot34 {
        width: 75%;
        display: flex;
    }
    .foot123 {
        list-style-type: none;   
        display: flex;   
        height: 225px;
        background-color: #F2F2F2;
        color: #000;
        font-size: smaller;
        text-decoration: none;
    }
    .foot {
        color: black;
        padding: 15px 0px 0px 0px;
        font-size: larger;
    }
    /*Media smartphones*/
    @media screen and (min-width: 320px) and (max-width:767px) {
    body {
        margin: 0;
    }
    header {
        flex-direction: column;
        width: 100%;
        border-bottom: solid #D9D9D9;
    }
    .topright {
        width: 100%;
        justify-content: space-around;
    }
    .hebergement, .activites {
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    li.hebergement:hover, li.activites:hover {
        border-top: none;
        border-bottom: solid #0065FC;
        color: #0065FC;
    }
    .conteneur_recherches {
        margin-left: 15px;
    }
    /*conteneur narre de recherche*/
    .rechercher {
        width: 100%;
    }
    /*formulaire de la barre de recherche*/
    #searchbar {
        width: 234px;
        padding-top: 5px;
        font-size: 18px;
    }
    /*conteneurs de chaques filtres séparés*/
    .filter {
    font-size: 15px;
    }
    /*conteneur de l'icone de la barre de recherche*/
    .localisation {
        width: 50px;
    }
    .search {
        display: flex;
        justify-content: center;
    }
    .hide {
        display: none;
    }
    /*icone loupe*/
    .search_icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        width: 50px;
        margin-left: -32px;
        padding: 0;
    }
    /*conteneur des différents filtres*/
    div.FilterBar {
        display: unset;
    }
    /*titre "Filtres"*/
    .filtres_h2 {
        margin-top: 20px;
    }
    .conteneur_filtres {
        padding-left: 15px;
    }
    .conteneur_filtres_criteres {
        display: inline;
    }
    .criteres {
        flex-wrap: wrap;
        gap: 10px;
    }
    /*conteneurs de chaques filtres séparés*/
    .filter {
        margin-left: 0;
        width: 100px;
    }
    .g_d {
        flex-wrap: wrap-reverse;
        flex-direction: column-reverse;
    }
    .section_droite,.section_gauche {
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;
    }
    .section_gauche {
        background-color: white;
        height: auto;
    }
    .left {
        margin-bottom: 0;
    }
    .mars {
        margin-left: 0;
        padding-left: 15px;
        font-size: 20px;
    }
    .hide_afficher_plus {
        display: none;
    }
    .pop {
        font-size: 20px;
    }
    .art {
        width: 100%;
        margin: 0px 15px;
    }
    .activite_a_marseille {
        flex-direction: column;
        width: 100%;
    }
    .port,.fort,.parc,.eglise {
        width: 100%;
    }
    .titre_activite {
        display: flex;
        margin-left: 15px;
    }
    .conteneur_activites {
        flex-direction: column;
        gap: 20px;
        margin: 0 18px;
    }
    .act {
        height: 150px;
    }
    .foot123{
        height: auto;
    }
    .foot34{
        margin: 0 18px;
        flex-direction: column;
    }
    .feet {
        padding: 0;
    }
    }
    /*media tablettes*/
    @media screen and (min-width:768px) and (max-width:1023px){
    body {
        margin: 0 30px 0 30px;
    }
    a.hebergements_a_marseille:hover,a.activites_a_marseille:hover {
        color: #000;
    }
    /*zone de text "Marseille, France"*/
    .searchbar {
        display: flex;
    }
    .rechercher {
        width: 100%;
    }
    button {
        font-size: large;
    }
    /*conteneurs de chaques filtres séparés*/
    .filter {
        margin-left: 9px;
    }
    .g_d {
        flex-direction: column;
    }
    .section_gauche {
        width: 100%;
        height: 650px;
    }
    .art {
        width: 30%;
    }
    .mars {
        padding-left: 18px;
    }
    .left {
         margin: 0 15px 0 15px;
    }
    .hide_afficher_plus {
        margin: 28px 0 0 -30px;
    }
    .section_droite {
        flex-direction: column;
        margin: 35px 0 0 0;
        padding: 0;
        width: 100%;
        height: 250px;
    }
    .pop {
        margin: 0 15px 0px 15px;
        width: 95%;
    }
    .art_d {
        margin: 0;
        font-size: smaller;
        width: 220px;
    }
    .right {
        flex-direction: row;
        width: 100%;
        height: 200px;
        justify-content: space-evenly;
        align-items: baseline;
    }
    .img_d {
        width: 90px;
        object-fit: cover;
    }
    .txt_activite {
        padding-left: 10px;
    }
    .activite_a_marseille {
        margin-top: 35px;
    }
    .port,.fort,.parc,.eglise {
        height: auto;
    }
    .act {
        height: 220px;
    }
    .foot34 {
        margin-left: 0;
    }
    .foot123 {
        align-items: center;
    }
    }
