/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.booki_title {
    display: none;
}

.fa-solid {
    color: var(--main-color);
}

body {
    /*display: flex;
    justify-content: center;*/
    margin: 0px;
}

.find {
    font-size: 22px;
    font-weight: bolder;
}

.main-container {
    /*width: 100%;
    max-width: 1440px;*/
    width: 1400px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: auto;
}

/*.navigation-booki {

}*/

.navigation-booki-title {
    display:none;
}

.navigation-booki-header-links {
    display: flex;
    align-items: center;
    height: 75px;
}

.acomodations-activities  {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    height: 100%;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.header-link-acomodations,
.header-link-activities {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 50px;
}

.header-link-acomodations:hover,
.header-link-activities:hover {
    border-top: #0065FC solid 2px;
    color: #0065FC;
    transition: 1s;
}

.search {
    height: 50px;
    display: flex;
    align-items: center;
}

.searchbar {
   display: flex;
}

.loc-dot-container {
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    display: none;
}
button {
    border-style: none;
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    height: 50px;
    width: 120px;
    font-size: medium;
    font-weight: 700;
}

.fa-location-dot {
    color: black;
}
.mb-3 {
    display: flex;
}

#searchbar {
    border-style: none;
    outline: none;/*retire le cadre de la balise "input"*/
    height: 50px;
    /*width: 300px;*/
    padding-left: 20px;
    border-top: solid 3px #F2F2F2;
    border-bottom: solid 3px #F2F2F2;
    font-size: medium;
    font-weight: 700;
}

/*filter container*/

.filter-container {
    display: flex;
    width: 60%;
    margin: 35px 0 15px;
}

.filter-position {
    display: flex;
    flex-direction: row;
    /*eviter cette utilisation pour rechanger plus tard*/
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    align-items: center;
    justify-content: space-evenly;
    font-size: medium;
    font-weight:700;
}

.filter {
    display: flex;
    flex-direction: row;
    /*min-width: -webkit-fill-available;
    align-items: center;
    justify-content: space-between;*/
    font-size: medium;
    font-weight:700;
}

.filter-choice {
    width: fit-content;
    display: flex;
    justify-content: center;
    border: solid 3px #f2f2f2;
    border-radius: 25px;
    padding: 15px;
}

.filter-choice:hover {
    background-color: #DEEBFF;
    transition: 1s;
}

.icon-filter {
    padding-right: 5px;
}

.info-acomodations {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-acomodations p {
    margin-left: 15px;

}

/*main*/
.city-center {
    font-size: 15px;
    font-weight: 100;
    margin-top: 15px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 33px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: max-content;
}

.card img {
    object-fit: cover;
    width: 270px;
    height:110px;
    border-radius: 15px 15px 0 0;
}

.card-title {
    margin: 0;
    font-size: 16px;
}

.card-subtitle {
    margin: 5px 0;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
/*test
.row {
    display: flex;
    margin: auto;
}

fin test*/

/****** Acomodations And Popular ***********/
.acomodations-popular {
    display: flex;
    justify-content: space-between;
}

.acomodations-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}

/****** Acomodations ***********/
.acomodations {
    width: 65%;
}

.acomodations-cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.see-more-link p {
    margin: 0;
    position: relative;
    padding-top: 30px;
    font-weight: 700;
}
/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0 0 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-content {
    margin: 15px;
}

.popular-cards .card-title {
    margin-top: 0px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

.neutral-star {
    color: #D9D9D9;
}

/*activities in Marseille*/

.activities-in-marseille {
    margin: 35px 0;
}

.activities-title h5 {
    font-size: 22px;
}

.activities-container {
    display: flex;
    justify-content: space-between;
}

.activities-cards img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.activities-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;    
    border-radius: 25px;
    box-shadow: 2px 2px 10px #D9D9D9;
}

.activities-cards h3 {
    margin: 15px 0 15px 15px;
    font-size: 16px;
}

/*footer*/

.footer-container {
    display: flex;
    background-color: #F2F2F2;
    height: 200px;

}
.footer-container ul {
    list-style-type: none;
    width: 28%;
}

.footer-container li {
    margin-top: 15px;
}
.footer-title{
    font-size: 19px;
    font-weight: bold;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    body {
        margin: 25px;
    }

    .main-container {
        width: auto;
    }
    
    .header-link-acomodations:hover,
    .header-link-activities:hover {
    border-top: #0065FC solid 2px;
    color: #0065FC;
    transition: 1s;
    }

    .acomodations-popular {
        flex-direction: column;
    }

    .acomodations-popular section {
        width: auto;
    }

    .filter {
        align-items: center;
    }

    .filter-container {
        width: auto;
    }

    .acomodations {
        display: flex;
        justify-content: center;
    }

    .acomodations-title {
        display: block;
    }

    .popular {
        flex-direction: row;
        width: auto;
        margin-top: 50px;
    }

    .popular-cards {
        width: 100%;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }

    .popular-cards a {
        width: 32%;
    }

    .section-title {
        width: 0;
    }

    .popular-title h2 {
        width: auto;
        margin-top: 15px;
    }

    .acomodations-cards {
        width: fit-content;
    }

    .acomodations-cards a {
        width: 30%;
    }

    .acomodations-cards img {
        width: 100%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards img {
        max-width: 220px;
        height: 300px;
    }

    .activities-cards h3 {
        font-size: 14px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 10px 0 0 0;
    }    

    .navigation-booki-header-links {
        flex-direction: column;
    }

    .acomodations-activities {
        border-bottom: solid #F2F2F2;
        justify-content: space-around;
    }

    .header-link-acomodations {
        margin-left: 30px;
        width: 170px;
        margin: 0;
        justify-content: center;
    }

    .header-link-activities {
        width: 170px;
        margin: 0;
        justify-content: center;
    }

    #searchbar {
        width: 100%;
    }

    .searchbar {
        width: 100%;
    }

    button {
        width: 70px;
    }

    .search-button {
        display: flex;
        justify-content: center;
    }

    .loc-dot-container {
        min-width: 7%;
    }

    .hide {
        display: none;
    }

    .search-icon {
        display: flex;
        color: white;
    }

    .filter-container {
        margin-top: 10px;
        width: 100%;
    }

    .filter {
        flex-wrap: wrap;
    }

    .filter-container p {
        width: 100%;
    }

    .filter-position {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }
    .filter-choice {
        width: 128px;
        font-size: 12px;
        justify-content: flex-start;
    }
    .icon-filter {
        display: flex;
        align-self: center;
    }

    .header-link-acomodations:hover,
    .header-link-activities:hover{
        border-top: none;
        border-bottom: solid;
    }

    .acomodations-popular {
        flex-direction: column-reverse;
    }
    
    .acomodations-popular section {
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        background-color: white;
    }

    .acomodations-cards {
        background-color: white;
        flex-direction: column;
        width: 100%;
    }

    .acomodations-cards a {
        width: 100%;
    }

    .popular-cards a {
        width: 100%;
    }

    .popular-cards {
        display: block;
    }

    .popular section {
        background-color: #0065FC;
    }

    .acomodations section {
        padding: 0;
    }

    .card-content {
        width: 58%;
    }

    .card img {
        width: 100%;
    }

    .popular-cards img {
        max-width: 35%;
    }

    /*.acomodations-cards {
        display: contents;
    }*/

    .see-more-link {
        display: none;
    }

    .activities-in-marseille {
        padding: 15px;
    }

    .activities-container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .activities-cards img {
        min-width: 100%;
        height: 175px;
    }

    .activities-cards {
        margin-bottom: 33px;
    }

    .footer-container {
        flex-direction: column;
        height: auto;
    }

    .footer-container li {
        width: max-content;
    }

     /* ... */
}