/*Média desktop*/
/*@media screen and (min-width: 1024px) and (max-width: 1440px){*/ 
    
    body {
        font-family: 'Raleway', sans-serif;
        
            
    }
    /*entête de page*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 105px;
    }
    .hebergement_activite {
        flex-direction: row;
        justify-content: end;
        height: 100%;
        width: 100%;
        display: flex;
        color: #000;
    }
    .topright {
        display: flex;
        justify-content: right;
        height: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .hebergement, .activites {
        list-style-type: none;
        height: 100%;
        align-items: center;
        display: flex;
        color: black;
    }
    .hebergement:hover, .activites:hover {
        border-top: solid #0065FC;
        border-radius: unset;
        color:#0065FC ;
        
    }
    a.hebergements_a_marseille, a.activites_a_marseille {
        color:#000
    }
    a.hebergements_a_marseille:hover, a.activites_a_marseille:hover {
        color: #0065FC;
    }
    .topline:hover {
        color: #0065FC;    
    }
    a {
        text-decoration: none;
        
    }
    h1 {
        font-size: larger;
    }
    .centre_ville {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .rechercher {
        display: flex;
        width: 31%;
        height: 50px; 
    }
    #searchbar {
        height: 100%;
        padding-right: 75px;
        border: solid #F2F2F2;
        margin-right: -60px;
        font-size: smaller;
    }
    .search_icon{
        display: none;
    
    }
    button {
        width: 30%;
        height: 98%;
        border-radius: 0px 15px 15px 0px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border-style: none;
        font-family: 'Raleway', sans-serif;
    }
    .searchbar {
        width: 100%;
    }
    .localisation {
        display: flex;
        border-radius: 15px 0px 0px 15px;
        height: 100%;
        align-items: center;
        width: 13%;
        justify-content: center;
        background-color: #F2F2F2;
    }
    /*icone localisation**/
    .loc {
        color: black;
    }
    .info_logement {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .icon_info {
        padding: 5px 5px 5px 0px;
        
    }
    input {    
        font-family: 'Raleway';    
        font-weight: 700;
        font-size: 18px;    
        text-align: center;    
    }
    .FilterBar {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: flex-start;
        margin: 35px 0px 35px 0px;
        padding-left: 0;
    }
    .filtres_h2 {
        font-size: large;
    }
    .ifiltre {
        padding: 10px 10px 10px;
    }
    .filter1,.filter2, .filter3,.filter4 {
        display: flex;
        color: #000;
        border: solid 2px #D9D9D9;
        padding: 5px;
        align-items: center;
        font-weight: bold;
        border-radius: 35px;
        margin-left: 35px;
        padding-right: 35px;
        font-size: smaller;
        text-decoration: none;
    }
    .filter1:hover,.filter2:hover,.filter3:hover,.filter4:hover {
        background-color: #DEEBFF;
    }
    .criteres {
        display: flex;
        flex-direction: row;
    }
    /*couleur des icones*/
    i {
        color: #0065FC;
    }
    .last {
        color: #D9D9D9;
    }
    .g_d {
        display: flex;
        height: 33% ;
    }
    .section_gauche {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 700px;
        border-radius: 20px;
        background-color: #F2F2F2;
    }
    .left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-around;
        margin-bottom: 60px;
    }
    .mars {
        padding: 23px;
        padding-left: 35px;
    }
    /*dimmension des images section gauche*/
    .img1,.img2,.img3,.img4,.img5,.img6 {
    
        width: 100%;
        height: 124px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    /*dimension des articles gauches*/
    .art1,.art2,.art3,.art4,.art5,.art6 {
        width: 25%;
        background-color: white;
        border-radius: 20px;
        border: solid 4px white;
        box-shadow: 2px 2px 10px #D9D9D9;
        text-decoration: none;
    }
    .txt1,.txt2,.txt3,.txt4,.txt5,.txt6 {
        padding: 0px 0px 5px 10px;
        font-size: smaller;
        color: black;
    }
    .pop {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding-top: 23px;
        padding-bottom: 23px;
        margin-top: 18.72px;
        margin-bottom: 18.72px;
    }
    .section_droite {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        width: 29%;
        border-radius: 20px;
        margin-left: 20px;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
    }
    .plus {
        margin-left: 35px;
    }
    .right{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .vector {
        object-fit: cover;
    }
    .img7,.img8,.img9 {
        border-radius:20px 0px 0px 20px ;
        
    }
    .art7,.art8,.art9 {
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 130px;
        gap: 15px;
        margin: 15px;
        border: solid 4px white;
        box-shadow: 2px 2px 10px #D9D9D9;
        text-decoration: none;
    }
    .txt7,.txt8,.txt9 {
        position: relative;
        font-size: smaller;
        color: black;
    }
    .rightstar {
        position: absolute;
        bottom: 0%;
    }
    .plus {
        color: black;
    }
    /*balise nav dans header*/
    nav {
        flex-direction: row;
        justify-content: space-around; 
    }
    ul {
        color: black;
    }
    li {
        list-style-type: none;
        border-radius: 25px;
    }
    /*lien hébérgements et activités*/
    
    .hebergement {
        margin-right: 67px;
    }
    .txt_activite {
        padding-left: 20px;
        font-size: smaller;
    }
    .titre_activite {
        margin-top: 60px;
    }
    /*articles des activité a marseille*/
    .port,.fort,.parc,.eglise {
        border-radius: 20px;
        width: 23%;
        height: 100%;
        box-shadow: 2px 2px 10px #D9D9D9;
    }
    /*images des activité a marseile*/
    .act1,.act2,.act3,.act4 {
        width: 100%;
        height: 389px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    .activite_a_marseille {
        display: flex;
        justify-content: space-between;
    }
    footer {    
        margin-top: 61px;    
    }
    .foot34 {
        width: 75%;
        display: flex;
        margin-left: -45px;
    }
    .foot123 {
        list-style-type: none;   
        display: flex;   
        height: 225px;
        background-color: #D9D9D9;
        color: #000;
        font-size: smaller;
        text-decoration: none;
    }
    .foot {
        color: black;
        padding: 15px 0px 0px 0px;
    }
    /*}*/
    /*Media smartphones*/
    @media screen and (min-width: 320px) and (max-width:768px) {
    
    header {
        flex-direction: column;
        width: 100%;
        border-bottom: solid #D9D9D9;
    }
    .topright {
        width: 100%;
        justify-content: space-around;
    }
    .hebergement, .activites {
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    li.hebergement:hover, li.activites:hover {
        border-top: none;
        border-bottom: solid #0065FC;
    }
    .rechercher {
        width: 100%;
    }
    #searchbar {
        width: 234px;
    }
    .localisation {
        width: 50px;
    }
    .search {
        display: flex;
        justify-content: center;
    }
    .hide {
        visibility: collapse;
    }
    .search_icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        width: 50px;
        margin-left: 32px;
        padding: 0;
    }
    ul.FilterBar {
        display: unset;
    }
    .filtres_h2 {
        margin-top: 20px;
    }
    .criteres {
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: inherit;
    }
    .filter1,.filter2,.filter3,.filter4 {
        margin-left: 0;
        width: 100px;
    }
    .g_d {
        flex-wrap: wrap-reverse;
        flex-direction: column-reverse;
    }
    .section_droite,.section_gauche {
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;
    }
    .section_gauche {
        background-color: white;
        height: auto;
    }

    .mars {
        margin-left: 0;
        padding-left: 0;
    }
    .art1,.art2,.art3,.art4,.art5,.art6 {
        width: 100%;
        margin: 0px 15px;
    }
    .activite_a_marseille {
        flex-direction: column;
        width: 100%;
    }
    .port,.fort,.parc,.eglise {
        width: 100%;
    }
    .titre_activite {
        display: flex;
    }
    .act1,.act2,.act3,.act4 {
        
    }
    }